@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-800 bg-gray-50;
  }
}

.card-body {
  min-height: calc(75vh - 105px);
}

.login-body {
  height: calc(100vh - 105px);
}

.c-card img {
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}
.drop-shape {
  width: 2px;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 24px solid;
  /* position: absolute; */
  bottom: 0px;
  /* right: -8%; */
  rotate: 180deg;
}

.circle-logo {
  border-bottom: 21px solid;
  position: absolute;
  bottom: 0px;
  right: 0%;
  rotate: 180deg;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 48%;
  position: absolute;
  top: 14px;
  background: white;
  padding: 2px;
  transform: translateX(-50%);
}
.bagde {
  rotate: 180deg;
}
.c-card:hover img {
  transform: scale(1.05);
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (6 * 300px)));
  }
}

@media only screen and (max-width: 768px) {
  .container .carousel-items {
    animation: carouselAnim 60s infinite alternate linear;
  }
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (5 * 300px)));
    }
  }
}


.product-card {
height:  180px;
}



@media screen and (max-width: 2000px) and (min-width: 1800px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 140px;
  }
}


@media screen and (max-width: 1800px) and (min-width: 1600px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 124px;
  }
}


@media screen and (max-width: 1600px) and (min-width: 1400px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 107px;
  }
}



@media screen and (max-width: 1400px) and (min-width: 1280px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 98px;
  }
}




@media screen and (max-width: 1279px) and (min-width: 1200px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 198px;
  }
}


@media screen and (max-width: 1200px) and (min-width: 1100px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 177px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 158px;
  }
}



@media screen and (max-width: 1000px) and (min-width: 900px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 144px;
  }
}


@media screen and (max-width: 900px) and (min-width: 800px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 125px;
  }
}


@media screen and (max-width: 800px) and (min-width: 767px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 118px;
  }
}



@media screen and (max-width: 767px) and (min-width: 760px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 160px;
  }
}


@media screen and (max-width: 760px) and (min-width: 720px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 158px;
  }
}

@media screen and (max-width: 720px) and (min-width: 700px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 147px;
  }
}


@media screen and (max-width: 700px) and (min-width: 660px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 137px;
  }
}


@media screen and (max-width: 660px) and (min-width: 640px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 132px;
  }
}



@media screen and (max-width: 640px) and (min-width: 600px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 199px;
  }
}


@media screen and (max-width: 600px) and (min-width: 560px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 188px;
    
  }
}



@media screen and (max-width: 560px) and (min-width: 540px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height:  173px;
  }
}




@media screen and (max-width: 540px) and (min-width: 520px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height:  165px;
  }
}


@media screen and (max-width: 520px) and (min-width: 480px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 153px;
  }
}


@media screen and (max-width: 480px) and (min-width: 440px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 140px;
  }
}


@media screen and (max-width: 440px) and (min-width: 400px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 125px;
  }
}



@media screen and (max-width: 400px) and (min-width: 380px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 119px;
  }
}



@media screen and (max-width: 380px) and (min-width: 360px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 113px;
  }
}


@media screen and (max-width: 360px) and (min-width: 340px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 103px;
  }
}


@media screen and (max-width: 340px) and (min-width: 300px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 93px;
  }
}

@media screen and (max-width: 300px) and (min-width: 100px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 83px;
  }
}


@media screen and (max-width:100px) and (min-width: 90px) {
  /* Reduce max-height further for smaller screens */
  .product-card {
    height: 2vh;
  }
}







.carousel-focus:hover {
  transition: all 0.8s;
  transform: scale(1.1);
}

.block-ellipsis-1 {
  display: flex;
  place-items: center;
  max-width: 100%;
  height: 36px;
  line-height: 17px;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-ellipsis-2 {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 29px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[type='radio'] {
  display: none;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.animate-slide-in {
  animation: slide-in 800ms forwards;
}

.animate-slide-out {
  animation: slide-out 800ms forwards;
}

.scroll-images {
  overflow-y: scroll;
  display: flex;
  gap: 10px;
}
.scroll-images::-webkit-scrollbar {
  display: none;
}

@keyframes quantityChange {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animate-quantity-change {
  animation: quantityChange 300ms;
}

.card {
  width: 100%;
  height: 132px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 10px 10px;
  position: relative;
}

.main,
.copy-button {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.card::after {
  position: absolute;
  content: '';
  height: 20px;
  right: -20px;
  border-radius: 10rem 10rem 0 0;
  z-index: 1;
  top: 49px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: red;
  border: 1px solid red;
  width: 40px;
  transform: translateY(-50%);
  rotate: -90deg;
}

.ribbon-2 {
  z-index: 1;
  --f: 5px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 5px var(--f) calc(5px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #87d068;
  color: white;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
}


.ribbon-3 {
  --f: 5px; /* control the folded part*/
  --r: 0px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  height: 20px;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 5px var(--f) calc(5px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #87d068;
  color: white;
}

.ribbon-text {
  --f: 5px; /* control the folded part*/
  --r: 0px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  height: 20px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 143px;
font-size: 12px;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 5px var(--f) calc(5px + var(--r));
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #87d068;
  color: white;
}
